img{
    width: 150px;
}


.oferta{
    text-decoration: line-through;
}

.precio-oferta::after{
    text-decoration: none;
    color: blue;
    content: " $10 OFERTON";   
}


td{
    vertical-align: middle;
}

.btn{
    border: 1px solid black;
}
