<h3>Productos</h3>

<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Marca</th>
            <th>Tipo</th>
            <th>Color</th>
            <th>Precio</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let remera of remeras"> <!--uso de directivas-->
           <td><img [src]="remera.imagen" [alt]="remera.marca"></td>
           <td>{{remera.marca}}</td> 
           <td>{{remera.tipo}}</td>
           <td >{{remera.color}}</td>
           <td [ngClass]="{'precio-oferta': remera.oferta}"><span [ngClass]="{'oferta': remera.oferta}">{{remera.precio | currency}} </span></td><!--uso de pipes-->
           <td>
            <span class="stock btn btn-warning btn-sm" *ngIf="stock(remera)==0;">SIN STOCK</span>  
                <app-imput-integer [(cantidad)]="remera.cantidad" [max]="remera.stock" *ngIf="stock(remera)>0" ></app-imput-integer>
            </td>
            <td>
                <button class="btn btn-success" *ngIf="stock(remera)>0" (click)="addToCart(remera)" >Agregar al Carrito</button>
            </td>
        </tr>
    </tbody>
</table>
