<h3>Productos</h3>

<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Marca</th>
            <th>Tipo</th>
            <th>Color</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let remera of remeras" [ngClass]="{oferta: remera.oferta}" class="oferta"> <!--uso de directivas-->
           <td><img [src]="remera.imagen" [alt]="remera.marca"></td>
           <td>{{remera.marca}}</td> 
           <td>{{remera.tipo}}</td>
           <td>{{remera.color}}</td>
           <td>{{remera.precio | currency}}</td><!--uso de pipes-->
           <td >
                 <span class="stock btn btn-warning btn-sm" *ngIf="remera.stock==0">NO HAY STOCK</span>   
                <app-imput-integer [(cantidad)]="remera.cantidad" [max]="remera.stock" ></app-imput-integer>
            </td>
            <td>
                <button class="btn btn-success" *ngIf="remera.stock!=0" (click)="addToCart(remera)" >Agregar al Carrito</button>
            </td>
        </tr>
    </tbody>
</table>